body {
  text-align: center;
  overflow: hidden;
  background-image: url(Backnew.jpg);
  background-size: cover;
  background-position: center center; 
  background-size: 500px;
}


.homepage {
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 50;
  width: 80px;
  height: 80px;
}

.homepage:hover {
  transform:scale(1.2);
}

  h1 {
    font-size: 130px; 
    font-weight: bold;
    color: black;
    -webkit-text-fill-color: #494D55;
    -webkit-text-stroke: 3px #F8CC6D;
    margin-top: -50px;
    margin-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }   

form input[type="text"] {
  display: block;
  margin: auto;
  margin-bottom: 20;
  margin-top: 20;
  font-size: 100;
  font-style: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

button {
    display: inline-block;
    margin: 5px 80px 20px 80px;
    width: 350px;
    height: 220px;
    border-radius: 10px;
    border-width: 3px;
    background-color: #89C75F; 
    transition: background-color 0.5s ease;
    font-size: 30px;
    font-style: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: bold;
    color: #000; 
    transition: color 1s ease;
  }
  button:hover {
    background-color: #689D67; 
    color: rgb(219, 215, 215);
  }

  #feedback-text {
    font-size: 80px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: rgb(98, 93, 93);
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 3px #C9072A;
    text-shadow: 3px 3px;
  }

  /* Target the dynamically added button using a class name */
.new-button {
  margin: 0 auto; 
  background-color: #71A1F5; /* Green color */
  color: black;
  width: 400px;
  height: 100px;
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.endbutton {
  background-image: url(flagaustria.png);
  background-position: center center;
  background-size: cover;
  width: 400px;
  margin-top: 80px;
}
.endbutton:hover {
  color: red;
}
  
.img {
  display: block; 
  margin: 0 auto; 
  width: 150px;
  height: 150px;
}

#endtext0 {
  font-size: 80px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: rgb(98, 93, 93);
  -webkit-text-fill-color: #71A1F5;
  -webkit-text-stroke: 3px #215F9A;
  text-shadow: 3px 3px;
}

#endtext1 {
  font-size: 80px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: rgb(98, 93, 93);
  -webkit-text-fill-color: #F5C049;
  -webkit-text-stroke: 3px #4A6B49;
  text-shadow: 3px 3px;
}

#endtext2 {
  font-size: 80px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: rgb(98, 93, 93);
  -webkit-text-fill-color: #EA453E;
  -webkit-text-stroke: 3px #8A001A;
  text-shadow: 3px 3px;
}

/*Fireworks part*/

@keyframes firework {
  0% { 
    transform: translate(-50%, 60vh);
    width: 0.5vmin;
    opacity: 1;
  }
  50% { 
    width: 0.5vmin;
    opacity: 1;
  }
  100% { 
    width: 45vmin; 
    opacity: 0; 
  }
}

@keyframes firework {
  0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}
/* @keyframes fireworkPseudo {
  0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}
 */
.firework,
.firework::before,
.firework::after
{
  --initialSize: 0.5vmin;
  --finalSize: 45vmin;
  --particleSize: 0.2vmin;
  --color1: yellow;
  --color2: rgb(237, 90, 23);
  --color3: rgb(255, 128, 1);
  --color4: rgb(11, 240, 11);
  --color5: rgb(21, 118, 32);
  --color6: rgb(242, 5, 5);
  --color7: rgb(166, 43, 5);
  --color8: rgb(29, 137, 4);
  --y: -30vmin;
  --x: -50%;
  --initialY: 60vmin;
  content: "";
  animation: firework 2s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, var(--y));
  width: var(--initialSize);
  aspect-ratio: 1;
  background: 
    /*
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
    */
    
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
    
    /* bottom right */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
    
    /* bottom left */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
    
    /* top left */
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
    
    /* top right */
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
    ;
  background-size: var(--initialSize) var(--initialSize);
  background-repeat: no-repeat;
}
.firework::before {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
  transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
/*   animation: fireworkPseudo 2s infinite; */
}
.firework::after {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
  transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
/*   animation: fireworkPseudo 2s infinite; */
}
.firework:nth-child(2) {
  --x: 30vmin;
}
.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
  --color1: rgb(236, 40, 73);
  --color2: rgb(198, 15, 198);
  --color3: rgb(121, 6, 121);
  --color4: rgb(224, 28, 218);
  --color5: rgb(202, 27, 112);
  --color6: rgb(109, 20, 204);  
  --color7: rgb(233, 67, 255);  
  --color8: rgb(16, 55, 133);  
  --finalSize: 40vmin;
  left: 30%;
  top: 60%;
  animation-delay: -0.25s;
}
.firework:nth-child(3) {
  --x: -30vmin;
  --y: -50vmin;
}
.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
  --color1: rgb(28, 18, 220);
  --color2: rgb(10, 111, 111);
  --color3: rgb(10, 59, 134);
  --color4: rgb(8, 220, 220);
  --color5: rgb(5, 113, 155);
  --color6: rgb(32, 111, 142);
  --color7: rgb(14, 234, 201);
  --color8: rgb(33, 192, 255);
  --finalSize: 35vmin;
  left: 70%;
  top: 60%;
  animation-delay: -0.4s;
}

  


  
 


